$primary: #d76f44;
$secondary: #a88b8a;
$white: #fff;
$link: $primary;

$custom-colors: ("secondary": $secondary);

$family-sans-serif: 'Merriweather', serif;

$title-family: 'Montserrat', sans-serif;
$title-size: $size-4;
$title-weight: $weight-bold;
$title-color: $secondary;

$button-family: $title-family;

$footer-background-color: $primary;
$footer-padding: 1rem;
$footer-color: $white;
