@import '~flatpickr/dist/flatpickr.min.css';
@import '~flatpickr/dist/themes/airbnb.css';
@import '_fluid-typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: var(--step-0);
}

.font-mono {
  @apply tracking-tighter;
}

@layer components {
  /*
   * TYPOGRAPHY - REUSABLE VARIANTS
   */
  .mb-page-title {
    @apply text-4xl font-extrabold mb-4 lg:mb-6;
  }

  .mb-page-subtitle {
    @apply text-lg;
  }

  .mb-content-section-title {
    @apply text-2xl text-primary font-extrabold mb-6 lg:mb-10 xl:mb-14 2xl:mb-20;
  }

  /*
   * BUTTONS
   */
  .mb-btn {
    @apply relative border bg-white border-gray-light text-black font-extrabold
    cursor-pointer inline-flex justify-center items-center align-top py-2 px-4 space-x-3 whitespace-nowrap select-none
    appearance-none transition-all disabled:bg-gray-light disabled:border-gray-light disabled:text-gray-semi disabled:opacity-50
    disabled:cursor-not-allowed;
  }

  .mb-btn-primary {
    @apply bg-primary border-primary text-white hover:bg-primary-dark;
  }

  .mb-btn-secondary {
    @apply bg-secondary border-secondary text-white hover:bg-secondary-dark;
  }

  /*
   * LAYOUT
   */
  .mb-container {
    @apply md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl px-4 lg:px-6 mx-auto;
  }

  /* same spacing as content-section-title */
  .mb-content-section {
    @apply py-6 lg:py-10 xl:py-14 2xl:py-20;
  }

  .mb-content-offset-l-2 {
    @apply lg:pl-20 xl:pl-24;
  }

  .mb-content-offset-r-2 {
    @apply lg:pr-20 xl:pr-24;
  }

  .mb-content-offset-l-3 {
    @apply lg:pl-40 xl:pl-48;
  }

  .mb-content-offset-l-4 {
    @apply lg:pl-72 xl:pl-96;
  }

  .mb-content-offset-r-3 {
    @apply lg:pr-40 xl:pr-48;
  }

  .mb-content-offset-r-4 {
    @apply lg:pr-72 xl:pr-96;
  }

  .mb-content-offset-x-2 {
    @apply mb-content-offset-l-2 mb-content-offset-r-2;
  }

  .mb-content-offset-x-3 {
    @apply mb-content-offset-l-3 mb-content-offset-r-3;
  }

  .mb-page-header-container {
    @apply mb-content-offset-l-2 mb-content-offset-r-4 mb-12 lg:mb-20 xl:mb-32;
  }

  .mb-page-content-container {
    @apply mb-container py-8 md:py-10 lg:py-12 xl:py-14;
  }

  .mb-content-block {
    @apply mb-6;
  }

  /*
   * MISC.
   */
  .mb-link {
    @apply text-primary transition-colors hover:text-primary-dark;
  }

  .mb-divider {
    @apply border-b-4 border-primary my-6;
  }

  .mb-pagination-btn {
    @apply flex justify-center font-semibold items-center w-[40px] h-[40px] leading-none rounded select-none transition-all
    hover:bg-gray-extralight;
  }

  .mb-pagination-btn-active {
    @apply bg-primary text-white pointer-events-none;
  }
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  margin-right: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #ded4d3;
}

*::-webkit-scrollbar-thumb {
  background-color: #b39a99;
  border-radius: 8px;
  width: 4px;
  margin-right: 2px;
  background-clip: padding-box;
}

body {
  overflow-x: hidden;
}

/* Lightgallery thumbnail override */
.lg-thumb-item:hover,
.lg-thumb-item.active {
  @apply !border-primary;
}
