@import '~flatpickr/dist/flatpickr.min.css';
@import '~flatpickr/dist/themes/airbnb.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-mono {
  @apply tracking-tighter;
}

input[type='radio'],
input[type='checkbox'] {
  @apply text-primary focus:ring-primary cursor-pointer;
}

@layer components {
  /*
   * TYPOGRAPHY - REUSABLE VARIANTS
   */
  .mb-page-title {
    @apply text-4xl font-bold xl:text-5xl;
  }

  .mb-page-title-bordered {
    @apply border-l-4 border-primary pl-4 lg:pl-6 py-2;
  }

  .mb-page-subtitle {
    @apply text-lg;
  }

  .mb-content-section-title {
    @apply text-2xl text-primary font-bold;
  }

  /*
   * BUTTONS
   */
  .mb-btn {
    @apply relative border bg-white border-gray-light text-black font-bold
    cursor-pointer inline-flex justify-center items-center align-top py-2 px-4 space-x-3 whitespace-nowrap select-none
    appearance-none transition-all disabled:bg-gray-light disabled:border-gray-light disabled:text-gray-semi disabled:opacity-50
    disabled:cursor-not-allowed hover:shadow-lg;
  }

  .mb-btn-primary {
    @apply bg-primary border-primary text-white hover:bg-primary-dark;
  }

  .mb-btn-secondary {
    @apply bg-secondary border-secondary text-white hover:bg-secondary-dark;
  }

  .mb-btn-outline {
    @apply bg-transparent border-black text-black hover:bg-gray-extralight;
  }

  /*
   * FORM
   */
  .mb-input {
    @apply w-full border-0 border-b border-gray-light placeholder-transparent px-0 pb-[8px] pt-[24px] h-[56px];
    @apply focus:border-primary focus:ring-0 focus:outline-none focus:pb-[8px] focus:pt-[24px];
  }

  .mb-input-label {
    @apply absolute left-0 top-0 text-sm text-gray-semi transition-all pointer-events-none;
    @apply peer-placeholder-shown:text-base peer-placeholder-shown:top-[24px];
    @apply peer-focus:top-0 peer-focus:text-primary peer-focus:text-sm;
  }

  .mb-input--with-addon {
    @apply pr-[40px];
  }

  .mb-input-addon {
    @apply absolute top-0 right-0 pb-[8px] pr-[8px] pt-[24px] h-full w-[40px] text-xl flex justify-end;
  }

  .mb-select {
    @apply w-full;
  }

  .mb-form-group {
    @apply mb-4;
  }

  .mb-form-group-label {
    @apply font-semibold;
  }

  .mb-inline-selectable-label {
    @apply cursor-pointer space-x-2 flex items-center;
  }

  /*
   * LAYOUT
   */
  .mb-container {
    @apply md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl px-4 lg:px-6 mx-auto;
  }

  .mb-section {
    @apply py-8 lg:py-10;
  }

  .mb-section-masked {
    @apply bg-gray-extralight;
  }

  /*
   * MISC.
   */
  .mb-link {
    @apply text-primary transition-colors hover:text-primary-dark;
  }

  .mb-divider {
    @apply border-b-4 border-primary;
  }

  .mb-pagination-btn {
    @apply flex justify-center items-center w-[40px] h-[40px] leading-none rounded select-none transition-all
    hover:bg-gray-extralight;
  }

  .mb-pagination-btn-active {
    @apply bg-primary text-white pointer-events-none;
  }

  .mb-footer-column {
    @apply border-x last:border-b-0 border-dashed border-gray-light px-4 pt-7 last:pb-7 lg:border-r-0 lg:last:border-r lg:pt-9 lg:pb-9 lg:last:pb-9;
  }

  .mb-footer-heading {
    @apply font-semibold mb-2;
  }

  .mb-footer-list {
    @apply text-gray-dark text-sm font-light space-y-2;
  }
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  margin-right: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #ded4d3;
}

*::-webkit-scrollbar-thumb {
  background-color: #b39a99;
  border-radius: 8px;
  width: 4px;
  margin-right: 2px;
  background-clip: padding-box;
}

body {
  overflow-x: hidden;
}

/* Lightgallery thumbnail override */
.lg-thumb-item:hover,
.lg-thumb-item.active {
  @apply !border-primary;
}
