.footer-faq-link {
    display: inline-block;
    color: $white;
    border: 1px solid $white;
    padding: $spacer-3 $spacer-5;
    font-weight: $weight-semibold;
    font-size: $size-5;

    &:hover {
        color: $white;
        text-decoration: underline;
    }
}

.footer-related-link {
    height: 55px;
    padding: 0 $spacer-4;

    &__image {
        max-height: 100%;
    }
}
