.home-header {
    padding: $spacer-3 0;

    @include from($widescreen) {
        padding-top: $spacer-4;
        padding-bottom: $spacer-4;
    }

    &__logo {
        max-height: 100px;

        @include from($tablet) {
            max-height: 125px;
        }

        @include from($desktop) {
            max-height: 140px;
        }

        @include from($widescreen) {
            max-height: 180px;
        }
    }

    &__social {
        visibility: hidden;
        height: 0;

        @include from($tablet) {
            visibility: visible;
            height: auto;
        }
    }
}
