.cat-list-item {
    border: 3px solid $secondary;
    border-radius: $radius-large;
    background-color: $secondary;

    .card-content {
        background-color: $white;
    }
}

.cat-list-item-image-wrapper {
    border-bottom: 2px solid $secondary;
}

.cat-list-item.cat-list-item--group {
    background-color: $primary;

    &,
    .cat-list-item-image-wrapper {
        border-color: $primary;
    }

    .card-content {
        background-color: $primary;

        &,
        .title {
            color: $white;
        }

        .cat-list-item__link {
            @extend .has-text-white;
        }
    }
}
