.news-piece {
    &__title {
        font-weight: $weight-semibold;
        margin-bottom: $spacer-1;
    }

    &__created {
        color: $secondary;
        font-weight: $weight-semibold;
        margin-bottom: $spacer-1;
    }
}
