.stat-column {
    text-align: center;

    &__value {
        color: $secondary;
        font-weight: $weight-bold;
        font-size: 58px;

        @include from($tablet) {
            font-size: 66px;
        }
    }

    &__text {
        color: $primary;
        font-weight: $weight-semibold;
        padding: 0 20%;

        @include from($tablet) {
            padding: 0 15%;
        }

        @include from($widescreen) {
            padding: 0 7.5%;
        }
    }
}
